
body {
	/*min-height: 2000px;*/
	padding-top: 70px;
}
/*修改列标题的背景颜色*/
.datagrid-header-row td{
	/*background-color:#373C64;*/
	background-color:#E0ECFF;
	color:#0E2DSF;
	font-weight:bold;
}
/*修改列标题的背景颜色 鼠标滑动*/
.datagrid-header td.datagrid-header-over{
	background-color:#E0ECFF;
	color:#0E2DSF;
	font-weight:bold;
}    
.arrow-up {
	width:16px;
	height:16px;
    background-image: url("images/arrow_up.png");
    background-position: right 0;
    background-repeat: no-repeat;
}

.arrow-down {
    background-image: url("images/arrow_down.png");
    background-repeat: no-repeat;
}
.datagrid-wrap{
	border:0px;
}
.datagrid-header-row{
	height:50px;	
}
.datagrid-row{
	height:90px;
	border:0px;
}
.datagrid-cell{
	font-size: 15px;
}