<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.ygy.mapper.ChannelMapper">

	<resultMap type="org.ygy.entity.ChannelEntity" id="channelMapper">
		<result column="channel_id" property="id"/>
		<result column="channel_show_name" property="name"/>
		<result column="channel_show_url" property="url"/>
		<result column="channel_type" property="type"></result>
	</resultMap>
	
	<resultMap type="org.ygy.entity.easyui.ESColumn" id="esColumnMapper">
		<result column="field" property="field"></result>
		<result column="title" property="title"></result>
	</resultMap>
	
	<resultMap type="org.ygy.vo.ChannelInfoVO" id="channelInfoMapper">
		<result column="channel_id" property="id"/>
		<result column="channel_show_name" property="showName"/>
		<result column="channel_show_url" property="showURL"/>
		<result column="calendar_id" property="calendarId"/>
		<result column="cust_register_num" property="registerNum"/>
		<result column="cust_register_num_total" property="totalNum"/>				
	</resultMap>
	
	<resultMap type="org.ygy.vo.OutlineData" id="outlineData">
		<result column="calendar_id" property="calendarId"/>
		<result column="channel_name" property="name"/>
		<result column="channel_url" property="url"/>
		<result column="person_response" property="personResponse"/>
		<result column="register_num" property="registerNum"/>
		<result column="real_num" property="realNum"/>
		<result column="invest_num" property="investNum"/>
		<result column="invest_money" property="investMoney"/>			
	</resultMap>
	
	<resultMap type="org.ygy.vo.OutlineDetail" id="outlineDetail">
		<result column="calendar_id" property="calendarId"/>
		<result column="cust_num" property="custNum"/>		
	</resultMap>	
  
  	<select id="selectChannels" resultMap="channelMapper" parameterType="org.ygy.entity.PageSearch">
		select 
			tm_channel.channel_id,
			tm_channel.channel_show_name,
			tm_channel.channel_show_url
		from 
			dr_bi.v_dim_channel tm_channel
		left join 
			dr_bi.dm_cust_channel_analyse tm_cus
		on 
			tm_cus.channel_id = tm_channel.channel_id
		<where> 
			tm_cus.calendar_id =  (
				select max(calendar_id) from dr_bi.dm_cust_channel_analyse
				<where>
					<if	test="startDate != null and startDate != ''">
						date(calendar_id) >= date(#{startDate})
					</if>
					<if test="endDate != null and endDate != ''">
						<![CDATA[
						and date(calendar_id) < date(#{endDate})
						]]>
					</if>			
				</where>
			)
			<if test="channelType != null and channelType != ''">
				and tm_channel.channel_type = #{channelType}
			</if>
		</where>	
		order by 
			tm_cus.cust_register_num desc,
			tm_channel.channel_id desc 
  	</select>
  	
  	<select id="selectColumns" resultMap="esColumnMapper" parameterType="org.ygy.entity.PageSearch">
		select 
			calendar_id field,
			date_format(calendar_id,'%m月%d日') title
		from 
			dr_bi.dm_cust_channel_analyse
		<where>
			<if	test="startDate != null and startDate != ''">
				date(calendar_id) >= date(#{startDate})
			</if>
			<if test="endDate != null and endDate != ''">
				<![CDATA[
				and date(calendar_id) < date(#{endDate})
				]]>
			</if>
		</where> 
		group by 
			calendar_id,
			date_format(calendar_id,'%m月%d日')
		order by 
			calendar_id desc
  	</select>
  	
  	<select id="selectChannelInfo" resultMap="channelInfoMapper" parameterType="org.ygy.entity.PageSearch">
	  	select 
			tm_channel.channel_id,
			tm_channel.channel_show_name,
			tm_channel.channel_show_url,
			tm_cus.calendar_id,
			coalesce(tm_cus.cust_register_num,0) cust_register_num,
			coalesce(tm_cus.cust_register_num_total,0) cust_register_num_total
		from 
			dr_bi.v_dim_channel tm_channel
		left join 
			dr_bi.dm_cust_channel_analyse tm_cus
		on 
			tm_cus.channel_id = tm_channel.channel_id
		<where>
			<if test="channelId != null">
				tm_channel.channel_id = #{channelId}
			</if>
			<if test="startDate != null and startDate != ''">
				and  date(tm_cus.calendar_id) >= date(#{startDate}) 
			</if>
			<if test="endDate != null and endDate != ''">
			  	<![CDATA[
				and  date(tm_cus.calendar_id) < date(#{endDate}) 
				]]>
			</if>			
		</where>
		group by 
			tm_channel.channel_id,
			tm_channel.channel_show_name,
			tm_channel.channel_show_url,			
			tm_cus.calendar_id
		order by 
			tm_cus.calendar_id desc
  	</select>
  	
  	
  	<select id="selectChannelType" resultMap="channelMapper">
		select 
			channel_type channel_type
		from 
			dr_bi.v_dim_channel
		where 
			channel_type is not null
		group by 
			channel_type
  	</select>
  	
  	<select id="selectOutlineData" resultMap="outlineData">
		select 
			tm_chl.channel_name,
			tm_chl.channel_url,
			tm_chl.channel_official person_response,
		
			tm_cust.cust_register_num_total register_num,
			tm_cust.cust_real_num_total real_num,
			tm_cust.cust_deal_num_total invest_num,
			tm_cust.deal_amount_total/10000 invest_money
		from 
			dr_bi.b_dim_channel tm_chl
		join
			dr_bi.dm_cust_channel_analyse tm_cust
		on 
			tm_chl.channel_num = tm_cust.channel_id
		where 
			tm_cust.calendar_id=date_format(adddate(now(),interval -1 day),'%Y%m%d')
		order by cust_register_num_total desc  	
  	</select>
  	
  	<select id="selectOutlineDetailRegister" resultMap="outlineDetail">
		select 
			date(calendar_id) calendar_id, 
			sum(cust_register_num) cust_num
		from 
			dr_bi.dm_cust_channel_analyse
		where calendar_id &lt;date_format(now(),'%Y%m%d')
		group by date(calendar_id) 
		order by calendar_id	
  	</select>
  	
  	<select id="selectOutlineDetailReal" resultMap="outlineDetail">
		select 
			date(calendar_id) calendar_id, 
			sum(cust_real_num) cust_num
		from 
			dr_bi.dm_cust_channel_analyse
		where calendar_id &lt;date_format(now(),'%Y%m%d')
		group by date(calendar_id) 
		order by calendar_id	
  	</select>
  	
  	<select id="selectOutlineDetailInvest" resultMap="outlineDetail">
		select 
			date(calendar_id) calendar_id, 
			sum(cust_deal_num) cust_num
		from 
			dr_bi.dm_cust_channel_analyse
		where calendar_id &lt;date_format(now(),'%Y%m%d')
		group by date(calendar_id) 
		order by calendar_id	
  	</select>
  	
  	<select id="selectOutlineDetailMoney" resultMap="outlineDetail">
		select 
			date(calendar_id) calendar_id, 
			sum(deal_amount)/10000 cust_num
		from 
			dr_bi.dm_cust_channel_analyse
		where calendar_id &lt;date_format(now(),'%Y%m%d')
		group by date(calendar_id) 
		order by calendar_id	
  	</select>
  	
  	<select id="selectCompanyData" resultMap="outlineData">
		select 
			sum(cust_register_num_total) register_num,
			sum(cust_real_num_total) real_num,
			sum(cust_deal_num_total) invest_num,
			sum(deal_amount_total)/10000 invest_money
		from dr_bi.dm_cust_channel_analyse where calendar_id = DATE_FORMAT(adddate(now(),interval -1 day),'%Y%m%d')
		group by calendar_id	
  	</select> 
  	  	
  	<select id="selectCompanyData_backup" resultMap="outlineData">
		select 
			concat('前天 (',date(calendar_id),')') calendar_id ,
			sum(cust_register_num_total) register_num,
			sum(cust_real_num_total) real_num,
			sum(cust_deal_num_total) invest_num,
			sum(deal_amount_total)/10000 invest_money
		from dr_bi.dm_cust_channel_analyse where calendar_id = DATE_FORMAT(adddate(now(),interval -2 day),'%Y%m%d')
		group by calendar_id   	
		union all
		select 
			concat('昨天 (',date(calendar_id),')') calendar_id ,
			sum(cust_register_num_total) register_num,
			sum(cust_real_num_total) real_num,
			sum(cust_deal_num_total) invest_num,
			sum(deal_amount_total)/10000 invest_money
		from dr_bi.dm_cust_channel_analyse where calendar_id = DATE_FORMAT(adddate(now(),interval -1 day),'%Y%m%d')
		group by calendar_id	
  	</select> 	  	
    
</mapper> 