<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.ygy.mapper.CustomerMapper">

	<resultMap type="org.ygy.vo.RegisterVO" id="registerMapper">
		<result column="calendar_id" property="calendarId"/>
		<result column="cust_register_num" property="todayAddNum"/>
		<result column="cust_register_num_total" property="totalNum"/>
	</resultMap>

    <select id="selectRegisterPage" resultType="int">
    	select count(1) from (
		    select 
				date(calendar_id) calendar_id ,
				sum(cust_register_num) cust_register_num,
				sum(cust_register_num_total) cust_register_num_total
			from 
				dm_cust_channel_analyse
			group by 
				calendar_id
			order by 
				calendar_id desc
		) tm
    </select>
      
    
    <select id="selectRegister" resultMap="registerMapper" parameterType="Map">
	    select 
			date(calendar_id) calendar_id ,
			sum(cust_register_num) cust_register_num,
			sum(cust_register_num_total) cust_register_num_total
		from 
			dm_cust_channel_analyse
		group by 
			calendar_id
		order by 
			calendar_id desc
		limit #{page},#{rows}
    </select>
    
    <select id="selectRegisterChart" resultMap="registerMapper">
    <![CDATA[
	    select 
			date(calendar_id) calendar_id ,
			sum(cust_register_num) cust_register_num,
			sum(cust_register_num_total) cust_register_num_total
		from 
			dm_cust_channel_analyse
		where 
			calendar_id not in ('20150823','20150824')
		group by 
			calendar_id
		order by 
			calendar_id asc
	 ]]> 
    </select>
</mapper> 